.input-image {
  input {
    display: none;
  }
  cursor: pointer;
  color: #fff;
  transition: all 0.3s ease 0s;
  &:hover {
    opacity: 0.8;
  }
}
.loader {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 10px solid #000;
  border-right-color: transparent;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 0.2;
  }
  50% {
    transform: rotate(180deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0.2;
  }
}